/* RWD Container */
.container {
  width: 100%;
  display: flex;
  align-self: center;
  margin: auto;
}

@media (min-width: 576px) {
.container {
  width: 540px;
}
} 

@media (min-width: 768px) {
.container {
  width: 720px;
}
} 

@media (min-width: 992px) {
.container {
  width: 960px;
}
} 

@media (min-width: 1200px) {
.container {
  width: 1140px;
}
} 


@media (min-width: 1600px) {
.container {
  width: 1500px;
}
} 
body {
  font-size: 16px;
  line-height: 1.6;

}
#mainLayout {
  display: grid;
  min-height: 100vh;
  margin-right:200px ;
  margin-left:200px;
  grid-template-areas: 
    "Header"
    "carousel"
    "Container"
    "Footer"
  ;
  grid-template-rows: auto auto 1fr auto;
gap: 1px;
}

#mainLayout > layoutHeader {
  grid-area: Header;
  padding: 0;
  height: auto;
  line-height: 1.6;

}
#mainLayout > layoutcarousel {
  grid-area: Header;
  padding: 0;
  height: auto;
  line-height: 1.6;

}

#mainLayout>layoutFooter {
  grid-area: Footer;
  padding: 0;
  height: 1fr;
  line-height: 1.6;

}

#mainLayout>layoutContent {
  grid-area:Container;

}
/* carousel */
.slick-list{
  width:1300px;
height: 300px;
margin: 0 1rem;
}
.slick-slide {
  margin-right:1rem; 
}

.slick-arrow{
  right: -30px;
}
.slick-dots li.slick-active button:before{
color:lightgreen !important;

}
.slick-dots li button:before{
color:white !important;
font-size: 1rem !important;
top:2rem !important;
}