.table-of-contents{
  display: grid;
  margin-left: 200px;
  margin-right: 200px;
  min-height: 100vh;
  grid-template-areas: 
    'header'
    'content'
    'footer'
  ;
  grid-template-rows: auto 1fr auto;
}

.contents-header {
  grid-area: header;
  padding: 0;
  height: auto;
  line-height: 1.6;

}

.contents-footer {
  grid-area: footer;
  padding: 0;
  height: auto;
  line-height: 1.6;

}

.contents-container {
  grid-area: content;
}

